@keyframes green {
    from{
        background-color: white;
        color: green;
    }
    to{
        background-color: green;
        color: white;
    }
}

@keyframes turqoise {
    from{
        background-color: white;
        color: turquoise;
    }
    to{
        background-color: turquoise;
        color: white;
    }
}

@keyframes red {
    from{
        background-color: white;
        color: rgb(212, 0, 0);
    }
    to{
        background-color: rgb(212, 0, 0);
        color: white;
    }
}

/* -----------------Containers----------------- */
.index-container
{
    display: grid;
    justify-content: center;
    background-color: lightslategray;
    width: 100%;
}

.index-articles-grid
{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 0vh);
    margin-top: 5vh;
}

.index-article-container
{
    width: 20vw !important;
    height: auto;
    margin-bottom: 10vh;
    box-shadow: 0.2vh 0.4vh 1vh 0.2vh rgba(73, 73, 73, 0.507);
}

/* -----------------Article Cards----------------- */
.index-article-user
{
    display: flex;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    border-bottom: 1px solid;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
}

.index-article-title
{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: green;
    font-weight: bold;
}

.index-article-description
{
    display: flex;
    justify-content: center;
}

.index-created-updated
{
    display: flex;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    color: rgb(80, 80, 80);
    border-top: 1px solid black;
    padding: 5px;
    font-size: small;
}

/* -----------------Buttons----------------- */
.index-article-actions
{
    padding: 1vh;
    display: flex;
    justify-content: space-around;
}

.index-link-to
{
    text-decoration: none;
    border-radius: 25%;
    padding: 5px;
}

/* ----------------------------------------- */
.show
{
    border: 1px solid green;
    color: green;
}

.show:hover
{
    animation: green 0.3s forwards;
}

.show:active
{
    background-color: rgb(0, 99, 0) !important;
}

/* ----------------------------------------- */
.edit
{
    border: 1px solid turquoise;
    color: turquoise;
}

.edit:hover
{
    animation: turqoise 0.3s forwards;
}

.edit:active
{
    background-color: rgb(20, 190, 173) !important;
}

/* ----------------------------------------- */
.delete
{
    border: 1px solid rgb(212, 0, 0);
    color: rgb(212, 0, 0);
}

.delete:hover
{
    animation: red 0.3s forwards;
}

.delete:active
{
    background-color: rgb(179, 0, 0) !important;
}

/* -----------------Navbar Links----------------- */
.index-buttons-container
{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.index-button-to
{
    font-size: large;
    color: white;
}