<div class = "header">
    <h1>
        AlphaBlog
        <%= link_to 'Create Article', new_article_path(), method: :get, class: "index-button-to" %>
        <%= link_to 'Home', root_path(), method: :get, class: "index-button-to" %>
    </h1>
</div>

<h2>Articles List</h2>
<%= render 'article' %>