<div class = "header">
    <h1>
        AlphaBlog
        <%= link_to 'Home', root_path(), method: :get, class: "index-button-to" %>
        <%= render 'layouts/log_in_out_navigation'%>
    </h1>
</div>

<h2>Edit your profile</h2>

<%= render 'form' %>

<%= render 'layouts/footer' %>
