<div class = "header">
    <h1>
        AlphaBlog
        <%= link_to 'Home', root_path, method: :get, style:"font-size:large; margin-left:10px", class: "index-button-to" %>
        <%= render 'layouts/log_in_out_navigation'%>
        <%= link_to 'Articles', articles_path, method: :get, style:"font-size:large; margin-bottom: 10px", class: "index-button-to" %>
    </h1>
</div>

<div class = "about-container">

  <h2>About</h2>

  <pre style = "font-size:x-large; font-weight:bold; margin-top:-40vh">  This is my first web application made with Ruby on Rails.
    With AlphaBlog, you will be able to create an account,
      create articles, and do all basic CRUD operations.</pre>

</div>

<%= render 'layouts/footer' %>
